@{

    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

}

<div class="store-sidebar">
    <h2>Store</h2>
    <ul class="sidebar-menu">
        <li>
            <a asp-controller="StoreManager" asp-action="Home"
               class="@(currentAction == "Home" ? "active" : "")">

                🏠 Dashboard
            </a>
        </li>

        <li>
            <a asp-controller="StoreManager1" asp-action="Index"
               class="@(currentAction == "AddProduct" ? "active" : "")">

                📦 Products
            </a>
        </li>
        <li>
            <a asp-controller="StoreManager" asp-action="Orders"
               class="@(currentAction == "Orders" ? "active" : "")">

                🛒 Orders
            </a>
        </li>
        <li>
            <a asp-controller="StoreManager" asp-action="Inventory"
               class="@(currentAction == "Inventory" ? "active" : "")">

                📊 Inventory
            </a>
        </li>

        <li class="nav-item mb-2">
            <a asp-controller="Batch" asp-action="Index"
               class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Batch" ? "active bg-white text-dark" : "text-white") d-flex align-items-center px-3 py-2 rounded-3">
                <i class="fa-solid fa-boxes-stacked me-3" style="width: 0px;"></i>
                <span>Manage Batches</span>
            </a>
        </li>

        <li>
            <a asp-controller="StoreManager" asp-action="Compliance"
               class="@(currentAction == "Compliance" ? "active" : "")">

                ✔ Compliance
            </a>
        </li>
        <li>
            <a asp-controller="StoreManager1" asp-action="Report"
               class="@(currentAction == "Reports" ? "active" : "")">

                📑 Reports
            </a>
        </li>
        <li>
            <a asp-controller="StoreManager" asp-action="Settings"
               class="@(currentAction == "Settings" ? "active" : "")">

                ⚙ Settings
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Logout"
               class="logout-link"
               onclick="return confirm('Do you want to logout?');">
                🚪 Log Out
            </a>

        </li>
    </ul>


</div>

